SERVICE_NAME = "bedrock-runtime" #e.g. bedrock-runtime
REGION_NAME = "us-west-2" #e.g. us-west-2
CYPHER_MODEL = "" #e.g. anthropic.claude-v2
ACCESS_KEY = "AWS ACCESS KEY"
SECRET_KEY = "AWS SECRET KEY"
NEO4J_HOST = "bolt://host.docker.internal"
NEO4J_PORT = "7687"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "Foo12345678"
NEO4J_DB = "neo4j"
