SERVICE_NAME = "bedrock-runtime" #e.g. bedrock-runtime
REGION_NAME = "us-west-2" #e.g. us-west-2
CYPHER_MODEL = "" #e.g. anthropic.claude-v2
ACCESS_KEY = "AWS ACCESS KEY"
SECRET_KEY = "AWS SECRET KEY"
NEO4J_URI = ""
NEO4J_USERNAME = "neo4j"
NEO4J_PASSWORD = ""
